* {
    box-sizing: border-box;
    margin: 20px;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.square {
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    border: 1px solid red;
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 105px;
    height: 105px;
}
